@charset "utf-8";
/* CSS Document */
body {
    font-family: renner, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    background: #fff;
}
.cHeader{
	background:black;
}
.cMain{
	background-color: white;
}
.color3{
	background-color: gray;
}
h1, h2, h3, h4, h5, h6, figure {
    color: #49509C;
    font-family: renner, Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
}

@font-face {
	font-family: "renner";
	src: url("../fonts/Renner/Renner.ttf");
}

  #fh5co-about {
	padding: 7em 0;
	clear: both;
  }
  
 